@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
* {
  font-family: "Ubuntu", sans-serif;
}

body {
  background-color: #111b21;
}

form {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin: auto;
}

.container {
  padding: 30px 30px;
}

.css-input {
  padding: 11px 50px 11px 17px;
  font-size: 20px;
  border-width: 1px;
  border-color: #ada4a4;
  background-color: #222e35;
  color: #f5f5f5;
  border: none;
  border-radius: 5px;
  text-shadow: 0px 0px 5px rgb(66 66 66 / 75%);
  width: 100%;
  font-family: sans-serif;
}
.css-input:focus {
  outline: none;
}

.bi-search {
  color: #f5f5f5;
  position: absolute;
  font-size: 22px;
  right: 12px;
  top: 10px;
}

.search-gif {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-gif > img {
  height: 400px;
}

.error {
  flex-direction: column;
}
.error > img {
  height: 200px;
}

.error-message {
  color: #ada4a4;
}
/* -------------------- */

@media screen and (max-width: 900px) {
  form {
    width: 100%;
  }
  .container {
    padding-bottom: 0;
  }
}
